/* every other div has different shade of grey */
.grid-container > div {
  background: #eee;
  padding: 1em;
}

.grid-container > div:nth-child(odd) {
  background: #ddd;
}

/* Grid */

.grid-container {
    display: grid;
   /* grid-template-columns: 1fr 1fr 1fr; */
   grid-template-columns: repeat(3, 1fr);
}