body,
html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: .4fr 1.5fr 3fr .7fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar sect1 sect2 sect3'
    'sidebar main main main'
    'sidebar footer footer footer';
}

aside {
  grid-area: sidebar;
  background-color: #007fff;
}

header {
  grid-area: header;
  background-color: #91c8ff;
}

.sect1 {
  grid-area: sect1;
  background-color: #b3d8fd;
}

.sect2 {
  grid-area: sect2;
  background-color: #5e86af;
}

.sect3 {
  grid-area: sect3;
  background-color: #6d9fd2;
}

main {
  grid-area: main;
  background-color: #7da9d5;
}

footer {
  grid-area: footer;
  background-color: #588ec3;
}

/* Responsive */

@media only screen and (max-width: 768px) {

  body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr .5fr;
    grid-template-areas:
      'sect1'
      'sect2'
      'sect3'
      'main'
      'footer';

  }
}
